.ejemplo1{
    background-color: darkgray;
    text-transform: uppercase;
    color: white;
    font-style: italic;
}

.ejemplo2{
    background-color: red;
    text-transform: lowercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.ejemplo3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-transform: capitalize;
}

body{
    
    background-image: url(https://images6.alphacoders.com/994/thumb-1920-994203.jpg);
}