body{
  font-size: 16px;
  color: #fff;
  background-color: rgb(19, 19, 82);
  font-family: 'Mukta', sans-serif;
}

#header-nav{
  background-color: dodgerblue;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../img/EasyJobs.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
  
}

.navbar-brand h1{
  font-family: 'Anton', sans-serif;
  color: floralwhite;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: lighter;
  text-shadow: 1px 1px 1px darkblue;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover ,.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p{
  color: floralwhite;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 15px;
  
}
.navbar-brand span{
  margin-left: 5px;
  vertical-align: middle;
}

#nav-list{
  margin-top: 10px;
}

#nav-list a{
  color: #fff;
  text-align: center;

}

#nav-list a:hover {
  background: #74bbc0;
}

#nav-list a span{
  font-size: 1.8em;
}

.glyphicon-user{
  font-size: 38px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

.container .jumbotron{
  box-shadow: 0 0 50px gray;
  border: 2px solid indigo;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron{
    background: url(../img/jum-1200.jpg) no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url(../img/EasyJobs.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron{
    align-items: center;
    background: url(../img/jum-992.jpg) no-repeat;
    height: 500px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand p{
    font-size: 2vw;
    margin-top: 5px;
  }

  .container .jumbotron{
    background: url(../img/jum-768.jpg) no-repeat;
    height: 400px;
  }

}



/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p{
    text-transform: uppercase;
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p span{
    font-size: 20px;
  }
  #collapsable-nav a{
    font-size: 2em;
  }
  #collapsable-nav a span{
    font-size: 1em;
    margin-right: 8px;
  }
  .container .jumbotron{
    margin-top: 30px;
    padding: 0px;
  }
}
