/*layoyt de 12 columnas*/

*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: capitalize;

}

p{
    border: 1px solid black;
    width: 98%;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    color: cornsilk;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

.fila{
    width: 100%;
}

/**********LAYOUT PARA PC*******/
@media (min-width: 1200px){
    /* se declaran las 12 columnas*/
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;

    }
    .col-lg-1{
       
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}

/*layout para dispositivos medianos*/
@media (min-width: 950px) and (max-width:1199px){
   /* se declaran las 12 columnas*/
   .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    float: left;

    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 74.99%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
}

/*ids*/
#item1{
    background-image: url(https://img.amiami.com/images/product/main/182/GAME-0020353.jpg);
    background-size: cover;
}
#item2{
    background-image: url(https://img.amiami.com/images/product/thumb300/203/FIGURE-060571.jpg);
    background-size: cover;
}
#item3{
    background-image: url(https://img.amiami.com/images/product/thumb300/203/FIGURE-060532.jpg);
    background-size: cover;
}
#item4{
    background-image: url(https://img.amiami.com/images/product/thumb300/203/FIGURE-060567.jpg);
    background-size: cover;
}
#item5{
    background-image: url(https://img.amiami.com/images/product/thumb300/202/FIGURE-060524.jpg);
    background-size: cover;
}
#item6{
    background-image: url(https://img.amiami.com/images/product/thumb300/203/FIGURE-060382.jpg);
    background-size: cover;
}
#item7{
    background-image: url(https://img.amiami.com/images/product/thumb300/203/GOODS-00396961.jpg);
    background-size: cover;
}
#item8{
    background-image: url(https://img.amiami.com/images/product/thumb300/203/GOODS-00396903.jpg);
    background-size: cover;
}
body{
    
    background-image: url(https://images6.alphacoders.com/994/thumb-1920-994203.jpg);
    background-size: cover;
}
