body{
  font-size: 16px;
  color: #fff;
  background-color:seagreen;
  font-family: 'Mukta', sans-serif;
}

#header-nav{
  background-color: limegreen;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1{
  font-family: 'Anton', sans-serif;
  color: white;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: lighter;
  text-shadow: 1px 1px 1px rgb(2, 83, 19);
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover ,.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list{
  margin-top: 10px;
  margin-bottom: 10px;
}

#nav-list a{
  color: #fff;
  text-align: center;

}

#nav-list a:hover {
  background: #74bbc0;
}

#nav-list a span{
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid black;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -60px;
}

.container .jumbotron{
  margin-top: 50px;
  box-shadow: 0 0 50px rgb(3, 36, 99);
  border: 2px solid rgb(44, 8, 92);
  background-color:  rgb(2, 83, 19);
}

.text-center{
  font-size: 40px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand p{
    font-size: 2vw;
    margin-top: 5px;
  }

}



/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw;
  }


  #collapsable-nav a{
    font-size: 2em;
  }
  #collapsable-nav a span{
    font-size: 1em;
    margin-right: 8px;
  }
  .container .jumbotron p{
    padding: 5px;
  }

}
